* {
  box-sizing: border-box;
}

body {
  background-color: rgb(237, 237, 237);
  font-family: Montserrat;
}

h1 {
  font-size: 25px;
  display: inline;
  padding-left: 5px;
}

.iconify.icon{
  width: 27px;
  height: 27px;
  margin-top: 10px;
  
}
#fan{
  margin-left: 7px;
}

#degree, #movCount, #lum {
  display: inline;
  margin-left: 10px;
}

.column {
  background-color: #FFFEEC;
  border-radius: 25px;
  float: left;
  width: 40%;
  height: 300px;
  padding-inline: 20px;
  padding-block: 10px;
  margin-block: 10px;
  margin-inline: 65px;
}

/* Clear floats after the columns */
.row:after {
  background-color: #FFFEEC;
  border-radius: 25px;
  content: "";
  display: table;
  clear: both;
}

.triggers{
  margin-left: 7%;
}

.lightButs{
  background-color: #64D7D6;
  font-size: 17px;
}
.tempButs{
  background-color: #FCFF76;
}

.iconify.arrow{
  width: 27px;
  height: 27px;
}

.lowButton{ 
  float: left;
  width: 30%;
  height: 20%;
  
  border-left: 2px solid #000000;
  border-top:2px solid #000000;
  border-right:1px solid #000000;
  box-sizing: border-box;
  border-radius: 9px 0px 0px 9px;
  margin-left: 5%;
}

.midButton{
 
  float: left;
  width: 30%;
  height: 20%;
  

  border-top: 2px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  box-sizing: border-box;
} 
.highButton{
  float: left;
  width: 30%;
  height: 20%;


  border-top: 2px solid #000000;
  border-left: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 0px 9px 9px 0px;
}

.onButton{
  width: 86%;
  height: 15%;
  margin-left: 7%;

  background: #C4AFF0;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 600;
}
.iconify.error{
  width: 5%;
  height: 5%;
}
.movButtons{
  background: #4AB641;
  border-radius: 5px;
  width: 90%;
  height: 10%;
  border: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat;
  line-height: 20px;
  margin-top: 2%;
}

#diactButton {
  width: 70%;
  height: 13%;
  margin-left: 15%;
  margin-top: 7%;
  background: #C4AFF0;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}

#foodAuto{
  font-size: 25px;
}

.petButts {
  width: 90%;
  height: 13%;
  margin-left: 5%;
  margin-top: 2%;
  background: #FCFF76;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 9px;
}

