@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {

  background-color: rgb(237, 237, 237);
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

@media (max-width: 1500px){
  .container {

    flex-direction: column;
  }
  .container-row-main {
    display: none;
  }
}

h1 {

  font-size: 25px;
  display: inline;
  padding-left: 5px;
}

.iconify.icon{

  width: 27px;
  height: 27px;
  margin-top: 10px;
}
#fan{

  margin-left: 7px;
}

#degree, #movCount, #lum {

  display: inline;
  margin-left: 10px;
}


.container-row-main {
  flex: 2;
  min-width: 600px;
  background-color: #000000;
  height:  600px;
}
.container-rows {
  flex: 1;
  width: 60% ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-rows-products {

  min-width: 360px;
  background-color: #FFFEEC;
  border-radius: 25px;
  width: 80%;
  height: 300px;
  margin-bottom: 60px;
  padding-inline: 20px;
  padding-block: 10px;
  margin-block: 10px;
  margin-inline: 65px;
}

.triggers{

  margin-left: 7%;
}

.lightButs{

  background-color: #64D7D6;
  font-size: 17px;
}
.tempButs{

  background-color: #FCFF76;
}

.iconify.arrow{

  width: 27px;
  height: 27px;
}

.lowButton{ 

  float: left;
  width: 30%;
  height: 20%;
  border-left: 2px solid #000000;
  border-top:2px solid #000000;
  border-right:1px solid #000000;
  box-sizing: border-box;
  border-radius: 9px 0px 0px 9px;
  margin-left: 5%;
}

.midButton{

  float: left;
  width: 30%;
  height: 20%;
  border-top: 2px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  box-sizing: border-box;
} 

.highButton{

  float: left;
  width: 30%;
  height: 20%;
  border-top: 2px solid #000000;
  border-left: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 0px 9px 9px 0px;
}

.onButton{

  width: 86%;
  height: 15%;
  margin-left: 7%;
  background: #C4AFF0;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 600;
}

.iconify.error{

  width: 5%;
  height: 5%;
}

.movButtons{

  background: #4AB641;
  border-radius: 5px;
  width: 90%;
  height: 10%;
  border: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 2%;
}

#diactButton {

  width: 70%;
  height: 13%;
  margin-left: 15%;
  margin-top: 7%;
  background: #C4AFF0;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}

#foodAuto{

  font-size: 25px;
}

.petButts {

  width: 90%;
  height: 13%;
  margin-left: 5%;
  margin-top: 2%;
  background: #FCFF76;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 9px;
}