@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {

  background-image: url(/src/r-architecture-2gDwlIim3Uw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

@media (max-width: 1500px) {
  .container {

    flex-direction: column;
  }

  .container-row-main {
    display: none;
  }
}

h1 {

  font-size: 25px;
  display: inline;
  padding-left: 5px;
}

.iconify.icon {

  width: 27px;
  height: 27px;
  margin-top: 10px;
}

#fan {

  margin-left: 7px;
}

#degree,
#movCount,
#lum {
  font-size: 20px;
  font-weight: 600;
  display: inline;
  margin-left: 10px;
}


.container-row-main {

  flex: 2;
  min-width: 600px;
  background: #525151d0;
  color: black;
  height: 600px;
}

.container-rows {

  flex: 1;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-rows-products {

  min-width: 360px;
  background: #9e9e9ebb;
  color: black;
  border-radius: 25px;
  width: 80%;
  height: 300px;
  margin-bottom: 60px;
  padding-inline: 20px;
  padding-block: 10px;
  margin-block: 10px;
  margin-inline: 65px;
}

.onButton {
  margin-top: 20px;
}

.triggers {
  font-size: 18px;
  font-weight: bold;
  margin-left: 7%;
}

.lightButs {

  font-size: 1.2rem;
  background: #3a3939e8;
  color: rgb(248, 246, 246);
}

.tempButs {

  background: #3a3939e8;
  color: rgb(248, 246, 246);
}

.iconify.arrow {

  width: 27px;
  height: 27px;
}

.iconify.iconify--dashicons.arrow {

  margin-left: -5px;
  margin-right: -5px;
}

.lowButton {

  background: #222222e8;
  float: left;
  width: 30%;
  height: 20%;
  border-left: 2px solid #000000;
  border-top: 2px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  border-radius: 9px 0px 0px 9px;
  margin-left: 5%;
}

.midButton {

  background: #3a3939e8;
  float: left;
  width: 30%;
  height: 20%;
  border-top: 2px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 2px solid black;
  box-sizing: border-box;
}

.highButton {

  background: #555454e8;
  float: left;
  width: 30%;
  height: 20%;
  border-top: 2px solid #000000;
  border-left: 1px solid #000000;
  border-bottom: 2px solid black;
  border-right: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 0px 9px 9px 0px;
}

.onButton {

  width: 86%;
  height: 15%;
  margin-left: 7%;
  background: #222222e8;
  color: rgb(248, 246, 246);
  font-size: 1rem;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
}

.iconify.error {

  width: 5%;
  height: 5%;
}

.movButtons {

  background: #0808083f;
  color: rgb(17, 17, 17);
  border-radius: 5px;
  width: 90%;
  height: 10%;
  border: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 2%;
}

#diactButton {

  width: 70%;
  height: 13%;
  margin-left: 15%;
  margin-top: 7%;
  background: #222222e8;
  color: rgb(248, 246, 246);
  font-size: 1.2rem;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}

#foodAuto {

  font-size: 20px;
  font-weight: 600;
}

#foodAmount {

  font-weight: bold;
  margin-left: 7px;
  font-size: 25px;
}

.petButts {

  width: 90%;
  height: 13%;
  margin-left: 5%;
  margin-top: 2%;
  background: #222222e8;
  color: rgb(248, 246, 246);
  border: 2px solid #000000;
  font-size: 1.2rem;
  box-sizing: border-box;
  border-radius: 9px;
}